<!DOCTYPE HTML>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/changePassword.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/book.png') }}">
    <script src="{{ url_for('static', filename='js/changePassword.js') }}"></script>
</head>
<body>

<!-- Title Bar -->
<div id="title">
    <div id="logo-container">
        <a href="/" style="text-decoration: none;">
            Kitaab<span>Shop</span>
        </a>
    </div>
    <form>
        <input id="searchBox" type="text" name="searchQuery" placeholder="Search for books">
        <input id="searchButton" type="submit" value="Search">
    </form>

    {% if not loggedIn %}
    <div id="signInButton">
        <a class="sign-in-btn" href="/loginForm">Sign In</a>
    </div>
    {% else %}
    <div class="dropdown user-dropdown">
        <div class="user-profile">
            <i class="fa fa-user user-icon"></i>  <!-- User icon -->
            <span>Hello, {{firstName}}</span>       <!-- Greeting -->
            <i class="fa fa-caret-down"></i>       <!-- Dropdown icon -->
        </div>
        <div class="dropdown-content">
            <a href="/account/orders">Your orders</a>
            <a href="/account/profile">Your profile</a>
            <hr>
            <a href="/logout">Sign Out</a>
        </div>
    </div>
    {% endif %}
    <div id="kart">
        <a class="link" href="/cart">
            <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
            CART {{noOfItems}}
        </a>
    </div>
</div>
<div class="display">
    <h2>Change Your Password</h2>
    <p>{{ msg }}</p>

    <form action="{{ url_for('changePassword') }}" method="POST" onsubmit="return validate()">
        <div class="form-group">
            <label for="oldpassword">Old Password:</label>
            <input type="password" name="oldpassword" required>
        </div>

        <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input type="password" name="newpassword" id="newpassword" required>
        </div>

        <div class="form-group">
            <label for="cpassword">Confirm New Password:</label>
            <input type="password" name="cpassword" id="cpassword" required>
        </div>

        <div class="form-group">
            <input type="submit" class="change-password-btn" value="Change Password">
        </div>
    </form>

    <a href="{{ url_for('profileHome') }}">Go Back to Profile</a>
</div>

</body>
</html>
