<!DOCTYPE HTML>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/checkout.css')}} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
    <a href="/">
        <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
    </a>
    <form>
        <input id="searchBox" type="text" name="searchQuery">
        <input id="searchButton" type="submit" value="Search">
    </form>

    {% if not loggedIn %}
    <div id="signInButton">
        <a class="sign-in-btn" href="/loginForm">Sign In</a>
    </div>
    {% else %}
    <div class="dropdown">
        <button class="dropbtn">Hello, <br>{{firstName}}</button>
        <div class="dropdown-content">
            <a href="/account/orders">Your orders</a>
            <a href="/account/profile">Your profile</a>
            <hr>
            <a href="/logout">Sign Out</a>
        </div>
    </div>
    {% endif %}
    <div id="kart">
        <a class="link" href="/cart">
            <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
            CART {{noOfItems}}
        </a>
    </div>
</div>

<div id="checkoutPage">
    <h2>Order Summary</h2>
    <div id="orderItems">
        {% for row in books %}
        <div>
            <hr id="separator">
            <div id="itemName">{{row[1]}}</div>
            <div id="itemPrice">₹{{row[2]}}</div>
        </div>
        {% endfor %}
    </div>
    <hr id="separator">
    <div id="total">
        <span id="totalLabel">Total</span>: ₹{{totalPrice}}
    </div>
    <form action="/confirmCheckout" method="POST">
        <input type="submit" value="Confirm Purchase" id="checkoutButton"/>
    </form>
</div>
</body>
</html>
