<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Success - KitaabShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/otp.css') }}">
</head>
<body>

<!-- Title Bar -->
<div id="title">
    <div id="logo-container">
        <a href="/" style="text-decoration: none;">
            Kitaab<span>Shop</span>
        </a>
    </div>
    <form>
        <input id="searchBox" type="text" name="searchQuery" placeholder="Search for books">
        <input id="searchButton" type="submit" value="Search">
    </form>
    <div id="signInButton">
        <a class="sign-in-btn" href="/loginForm">Sign In</a>
    </div>
    <div id="kart">
        <a class="link" href="/cart">
            <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
            CART {{noOfItems}}
        </a>
    </div>
</div>

<!-- Success Message Section -->
<div class="otp-container">
    <h1 class="otp-success-heading">Success!</h1>
    <p class="otp-success-message">Your login is successful. Welcome, {{ email }}.</p>
    <a href="/" class="btn-login">Go to Homepage</a>
</div>

</body>
</html>
